@-o-keyframes navBackgroundFade {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #ffffffbf; }
  100% { background-color: #ffffff22; }
}
@keyframes navBackgroundFade {
  0%   { background-color: #FFFFFF; }
  50%  { background-color: #ffffffbf; }
  100% { background-color: #ffffff22; }
}

.no-background {    
  -o-animation: navBackgroundFade .3s ease-in-out; 
  animation: navBackgroundFade .3s ease-in-out; 
}

.nav-shadow {
  background-color: hsl(var(--clr-white), .95);
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.2);
}

.main-nav {
  display: none;
}

.nav-logo {
  position: relative;
  height: 70px;
  z-index: 100;
}

.mobile-nav {
  display: flex;
}

.mobile-nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--clr-white), .95);
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow: hidden;
  z-index: 9;
  left: 0;
  height: 50vh;
  top: -100vh;
  transition: all 0.4s linear;
}

.mobile-nav-container ul li {
  color: hsl(var(--clr-primary));
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  font-size: 1.4rem;
  margin: 2rem 0 ;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.mobile-nav-container ul li:hover {
  -webkit-transform: scale(1.05);
}

.mobile-nav-container .socials-container {
  align-self: auto;
}

.mobile-nav-container .social-icon-container {
  margin: 0 .3rem;

}

.show-mobile-nav {
  opacity: 1;
  top: 0;
  height: 100vh;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.burger-lines {
  background-color: hsl(var(--clr-secondary));
  height: 2.5px;
  margin-bottom: 5px;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.burger-box-shadow {
  box-shadow: 1px 1px 2px #fff;
}

.burger-lines:nth-child(1) {
  width: 35px;
  margin-top: 7px;
}

.burger-lines:nth-child(2) {
  width: 28px;
}

.burger-lines:nth-child(3) {
  width: 21px;
}

.animate-burger:nth-child(1) {
  width: 30px;
  transform: rotate(45deg) translate(7px, 3px);
}

.animate-burger:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}

.animate-burger:nth-child(3) {
    width: 30px;
  transform: rotate(-45deg) translate(7px, -4px);
}


@media screen and (min-width: 800px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 2400px;
    padding: .7rem 1rem;
  }

  .fixed-position {
    overflow: scroll;
  }

  .mobile-nav {
    display: none;
  }

  .main-nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  .main-nav ul {
    display: flex;
  }

  .main-nav a {
    padding-bottom: 3px;
    background-image: linear-gradient(hsl(var(--clr-accent)), hsl(var(--clr-accent)));
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
      background-size 0.2s,
      background-position 0s 0.2s;
    text-shadow: 1px 1px 1px #fff;
  }

  .main-nav a:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
  }

  .main-nav ul li {
    margin-left: 1.2rem;
    padding-bottom: 3px;
  }
}
